amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
asgiref==3.11.1
ast_serialize==0.6.0
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.6.17
cffi==2.1.1
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==50.0.0
diff-match-patch==20241021
distro==1.9.0
Django==6.0.7
django-import-export==4.4.1
django-redis==7.0.0
django-stubs==6.0.7
django-stubs-ext==6.0.7
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
drf-spectacular==0.30.0
email-validator==2.3.0
et_xmlfile==2.0.0
fastapi==0.111.0
fastapi-cli==0.0.32
google-auth==2.56.3
google-genai==2.17.0
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.18
inflection==0.5.1
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
librt==0.13.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mypy==2.3.0
mypy_extensions==1.1.0
openpyxl==3.1.5
orjson==3.11.9
packaging==26.2
pathspec==1.1.1
prompt_toolkit==3.0.52
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.32
PyYAML==6.0.3
redis==8.0.1
referencing==0.37.0
requests==2.34.2
rich==15.0.0
rich-toolkit==0.20.3
rpds-py==2026.6.3
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.5
starlette==0.37.2
tablib==3.9.0
tenacity==9.1.4
tree-sitter==0.26.0
tree-sitter-javascript==0.25.0
tree-sitter-python==0.25.0
tree-sitter-typescript==0.23.2
typer==0.27.0
types-PyYAML==6.0.12.20260724
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
ujson==5.13.0
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.30.1
uvloop==0.22.1
vine==5.1.0
watchfiles==1.2.0
wcwidth==0.8.2
websockets==16.1.1
whitenoise==6.6.0
icalendar==7.3.0
coverage==7.15.4
iniconfig==2.3.0
pluggy==1.6.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.14.0
